@charset "UTF-8";
/* -- Import -- */
/* -- color fonts -- */
/* -- media screen -- */
/* -- fonts -- */
/* -- / Import -- */
/* -- Common -- */
* {
  box-sizing: border-box; }

li {
  list-style: none; }

a {
  color: #fff;
  text-decoration: none; }

ul {
  padding: 0; }

.section-outer {
  padding-left: 20px;
  padding-right: 20px; }

.section-inner {
  max-width: 1110px;
  margin: 0 auto; }

.inner-white {
  color: #fff; }

.inner-black {
  color: #000;
  font-size: 16px; }

.section-inner-header {
  max-width: 1560px;
  margin: 0 auto; }

.img {
  display: block; }

/* -- / Common -- */
/*
h1 {
   @include Circle;
   color: red;
}
h2 {
    @include Plumb-medium;
}

p {
    @include Plumb-medium;
}
*/
/* header 
--------------------------------------------------------------------*/
.section-header {
  background: url("../img/header-bg.png") 100% 100% no-repeat;
  background-size: cover;
  height: 800px; }

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Circle'; }

.header-menu__list {
  display: flex; }

.header-menu__list li:not(:first-child) {
  margin-left: 47px; }

.header-right-bar {
  display: flex;
  align-items: center; }
  .header-right-bar__search, .header-right-bar__language {
    width: 20px;
    height: 20px; }
  .header-right-bar__language {
    margin-left: 70px;
    margin-right: 11px; }

/* / header (заголовок ленты)
--------------------------------------------------------------------*/
