/* -- color fonts -- */
$color-white: #fff;
$color-black: #000;
$color-brand-blue: #2378FC;
$color-brand-green: #30BCC9;;
$color-brand-yellow: #FFC41E;
$color-brand-red: #F6404F;
$color-brand-iceCream: #FAF3E3;


/* -- media screen -- */
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

$screen-sm-max: 767px;
$screen-md-max: 991px;
$screen-lg-max: 1199px;